.title {
    text-align: center;
    text-transform: uppercase;
    color: #4CAF50;
}

.content {
    text-indent: 50px;
    text-align: center;
    letter-spacing: 3px;
}

.guess {
    /* Just to center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* To see the outline of the form */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}