#title {
    text-align: center;
    text-transform: uppercase;
    color: #4CAF50;
}

#content {
    text-indent: 50px;
    text-align: center;
    letter-spacing: 3px;
}

#guess {
    /* Just to center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* To see the outline of the form */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

#timer {
    padding: 12px 20px;
    margin: 0 auto;
    width: 200px;
    box-sizing: border-box;
    border: none;
    text-align: center;
    background-color: darkgrey;
}

input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #3CBC8D;
    color: white;
}

/* TODO: Can't forget to make focus on this button be automatic as the DOM loads */
input[type=text]:focus {
    background-color: rgb(95, 184, 238);
}

.button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}